<div id="navbar" class="sticky">
    <a href="#home" class="abox1"><% username != null && username != undefined ? username : "UserName" %></a>
    
    <a href="/blog/create" class="abox2">Create&nbsp;Blog</a>
  </div> 

  <style>
 .abox1 {
     margin-left: 1.5rem;
 }     
.abox2{
    margin-left: auto;
    margin-right: 2rem;
}
      /* Style the navbar */
#navbar {
  display: flex;
  max-height: 55px;
  overflow: hidden;
  background-color: rgb(65,105,225);
  box-sizing: border-box;
  font-size: larger;
  margin-left: -1rem;
  

}


/* Navbar links */
#navbar a {
  
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;

}

/* Page content */


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
  </style>