<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(err){ %> <h3 style="color: red;"><%= err %> </h3> <% } %>
    <h1>Register for Free </h1>
    <form action="/register" method="POST">
     <input type="text" name="username" placeholder="Name">
     <input type="text" name="email" placeholder="email">
     <input type="text" name="password" placeholder="password">
     <input type="text"  name="cnfpassword" placeholder="confirmPassword">
     <button type="submit">Register</button>
    </form>
    
</body>
</html>