<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(err){ %> <h3 style="color: red;"><%= err %> </h3> <% } %>
    <h1>Register for Free </h1>
    <h1 id="showtext" style="display: none;">Please Wait. Almost done</h1>
    <form action="/register" method="POST">
     <input type="text" name="username" placeholder="Name" id="username">
     <input type="text" name="email" placeholder="email" id="email">
     <input type="text" name="password" placeholder="password" id="password">
     <input type="text"  name="cnfpassword" placeholder="confirmPassword" id="cnfpassword">
     <button type="submit" id="register">Register</button>
    </form>
</body>
</html>